.brands-container{
    @extend %section-width;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    padding: 3.4rem 0px;
    
    font-size: 3rem;
    width: 100%;

    
    @include media('<=tablet') {
       flex-wrap: wrap;
       width: 68%;
     
    }

    @include media('<=phone') {
       width: 100%;
     }
}

.brand-fig{
   width: 20rem;
    height: 7.2rem;
    position: relative;
    margin: auto;
 
    &-image{
        @extend %cover;
        object-fit: cover;
       
    }
 }




.brand{
  
    flex-basis: 32%;
}


.airbnb, .orbit{
    flex-grow: 1;
    
}

.airbnb-fig{
    width: 20.5rem;
    height: 7.2rem;
    position: relative;
   

    &-image{
        @extend %cover;
        object-fit: cover;
       
    }

    @include media('<=tablet') {
        margin-left: auto;
       
     }

     @include media('>tablet') {
        margin: auto;
       
        
     }
}

.orbit-fig{
    width: 20rem;
    height: 7.2rem;
    position: relative;
    &-image{
        @extend %cover;
        object-fit: cover;
       
    }


     @include media('>tablet') {
        margin: auto;   
     }
}