.features{
    @extend %section-width;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6.4rem 0px;
    gap: 7rem;
    border: 1px solid red;

    @include media('<=tablet') {
        flex-direction: column;
        align-items: center;
        padding: 6.4rem 3.2rem;
        gap: 7rem;
     }
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6.4rem;
    border: 1px solid black;

    @include media('<=tablet') {
      order:2;
      width:100%;
     }
}

.key__features-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3.2rem;
    border:1px solid red;
    width: 54.9rem;

    @include media('<=tablet') {
        width:100%;
        text-align: center;
       }
}

.key__features-paragraph{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.key__features-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.6rem;

    &-main{
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 2.8rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: $color-brilliant-rose;
        border: 1px solid black;

        @include media('<=tablet') {
            width:100%;
        }
    }

    &-sub{
        font-weight: 700;
        font-size: 4.4rem;
        line-height: 120%;
        width: 54.9rem;
        color: $color-steel-gray;

        @include media('<=tablet') {
            width:100%;
        }
    }

    @include media('<=tablet') {
        width:100%;
       }
}

.key__features-subtitle{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: rgba(25, 24, 37, 0.5);
}

.key__features-paragraph{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 54.9rem;
    border: 1px solid green;

    @include media('<=tablet') {
        width:100%;
    }

   
}

.feature__paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3.2rem;
    gap: 3.2rem;
    
    width: 54.9rem;
    background: $color-white;
    // height: 16.4rem;
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 3.2rem;

    @include media('<=tablet') {
        width:100%;
     }

     @include media('<=smallphone') {
        flex-direction: column; 
        align-items: flex-start;
     }
}
.feature__paragraph-container{
    width: 10rem;
    height: 10rem;
    position: relative;
    
    border-radius: 3.2rem;
    border: 1px solid red;
   

    &-image{
        @extend %cover;
        object-fit: cover;
        padding: 1rem;
       
    }

    &.one{
        background:$color-bright-sun;
    }
    &.two{
        background: $color-orange
    }
    &.three{
        background: $color-brilliant-rose;
    }
}

.feature__paragraph-text{
    display: flex;
    flex-direction: column;
    gap: .8rem;

}

.feature__paragraph-heading{
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.8rem;
    color: $color-steel-gray;
}

.feature__paragraph-subheading{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;

    color: rgba(25, 24, 37, 0.5);
}

.feature__backgroundImage-wrapper{
    border: 1px solid yellow;
}

.feature__backgroundImage{
    width: 68.8rem;
    height: 86.9rem;
    background: url(../assets/feature-background.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}