.header{
    @extend %section-width;
    border: 1px solid black;
    height: 83.9rem;
   
    display: flex;
    align-items: center;
    // padding: 6.4rem 0px;
}




.header__description{
    border: 1px solid black;
    height: 50.7rem;
    width: 41.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;

    &-media{

        height: 2rem;
        width: 2rem;
        position: relative;
        &-image{
            @extend %cover;
            object-fit: cover;
        } 
    }
}

.header__description-exploreBox{
    display: flex;
    align-items: center;
    gap:1.6rem;
    padding: 1.6rem 3.2rem;
    color:#F85E9F
}

.header__description-text{
    font-size: 1.4rem;
   
}
.header__description-title{
    font-size: 6.9rem;

    & span{
        color:#F85E9F
    }
}
.header__description-subtitle{
    font-size: 1.8rem;
}

.header__description-startedWatchDemo{
    display: flex;
    align-items: center;
    gap:1.6rem;
}

.header__wrapper-images{
    border: 1px solid black;
    width: 77.2rem;
    height: 71.3rem;
    background-image: url(../assets/layer.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    display: flex;
    justify-content: center;
}

.header__gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin-top: 6rem;
    border: 1px solid red;
    position: relative;
  
   
}
.header__send{

    left: -3.5rem;
    bottom: -3.5rem;
    height: 6.4rem;
    width: 6.4rem;
    position: absolute;
    background-color: #F85E9F;
    border-radius: 10rem;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   

    &-image{
         @extend %cover;
        object-fit: cover;
        padding: 1.6rem;
        
    }
}
.header__gallery-one{
    width: 27.2rem;
    height: 30rem;
    border-radius: 3rem;
    border: 1px solid black;
    margin-bottom: 4rem;
    position: relative;

    &-image{
        @extend %cover;
        object-fit: cover;
        border-radius: 3.2rem;
    }
}

.header__gallery-two{
    width: 27.2rem;
    height: 30rem;
    border-radius: 3rem;
    border: 1px solid black;
    position: relative;
    

    &-image{
        @extend %cover;
        object-fit: cover;
        border-radius: 3.2rem;
    }
}
.header__gallery-three{
    width: 27.2rem;
    height: 40rem;
    border-radius: 3rem;
    border: 1px solid black;
    position: relative;

    &-image{
        @extend %cover;
        object-fit: cover;
        border-radius: 3.2rem;
    }
}

.header__topPlaces{
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01), 0px 43px 26px rgba(0, 0, 0, 0.05);
    padding: 1.6rem 3.2rem;
    height: 5.6rem;
    width: 16.6rem;
    
    position: absolute;
    bottom:5rem;
    right: -8rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.8rem;

    &-text{
        font-size: 1.4rem;
        font-weight: 700;
        color:#393E46
    }

    &-imageWrapper{
        height: 2rem;
        width: 1.7rem;
        position: relative;
         &-image{
         @extend %cover;
            object-fit: cover;
        }
    }

}

.header__gallery-bottom{
    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    right: 11rem;
    background-color: #F85E9F;
    border-radius: 10rem;

    &-image{
        @extend %cover;
        object-fit: cover;
        padding: 1.6rem;
    }
}