.navigation{
    @extend %section-width;
    border: 1px solid green;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.2rem 0px;
    gap: 16rem;

    @include media('<=tablet') {
        padding: 2.2rem 0px;
      }

    //   @include media('<=phone') {
    //     // padding: 32px, 0px, 32px, 0px;
    //     padding-top:31.2rem ;
    // // padding-right:0 ;
    // // padding-bottom:3.2rem ;
    // // padding-left: 0;
    //   }
}

.navigation__list-link{
   

   @include media('<=tablet') {
    display: none; 
  }
}

.logo__wrapper{
    border: 1px solid green;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @include media('<=tablet') {
        order: 2;
      }

}

.logo__media{
    height: 3rem;
    width: 3rem;
    position: relative;
    &-image{
        @extend %cover;
        object-fit: cover;
    }
}

.logo__text{
    font-size: 3rem;
    font-weight: bold;
}
.navigation__list{
    border: 1px solid green;
    display: flex;
    align-items: center;
    gap:6.4rem;
    font-size: 2rem;

    @include media('<=tablet') {
        order: 1;
      }


      @include media('<=phone') {
        display: none;
      }
}

.navigation__list-item{
    
}

.authentication{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;

    @include media('<=tablet') {
        order:3;
    }
}

.login{
    font-size: 1.4rem;
    font-weight: 700;
    color:$color-ebony-clay;
}
.signup{
    background: $color-indigo;
    border-radius: 10rem;
    padding: 1.6rem 3.2rem;
}