
.navigation{
    @extend %section-width;
    display: flex;
    padding: 3.2rem 0rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-container{

    @include media('<=phone') {
        display: flex;
        width: 95%;
        margin: auto;
    }
}

.logo__wrapper{
    
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.logo__media{
    height: 4rem;
    width: 4rem;
    position: relative;
    &-image{
        @extend %cover;
        object-fit: cover;
    }
}

.logo__text{
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    line-height: 4rem;
    color:$color-steel-gray;
    
}
.navigation__list{
  
    display: flex;
    align-items: center;
    gap:6.4rem;
    font-size: 2rem;

    @include media('<=phone') {
        display: none;
      }
}

.navigation__list-item{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 120%;
    color:$color-steel-gray;

}

.authentication{
  
    display: flex;
    align-items: flex-start;

    @include media('<=phone') {
        display: none;
      }
}

.login{
    display: flex;
    padding: 1.6rem 3.2rem;
    align-items: flex-start;
    gap: 0.8rem;
    border-radius: 10rem;
    background:$color-white;
}
.login__text{
    color: $color-ebony-clay;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 120%;
}
.signup{
    display: flex;
    padding: 1.6rem 3.2rem;
    align-items: flex-start;
    gap: 0.8rem;
    border-radius: 10rem;
    background: $color-indigo;
}

.signup__text{
    color: $color-gallery;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 120%;
}


.hamburger{
    position: relative;
    display: block;
    width: 7rem;
    cursor:pointer;
   
    appearance: none;
    background: none;
    outline: none;
    border-radius: 5px;
    display: none;
    background-color: $color-indigo;

    @include media('<=phone') {
        display: block;
      }

 }

 .bar::after, .bar::before{
    content: "";
    font-size: 5rem;
 }

 .hamburger .bar, .hamburger::after, .hamburger::before{
    content:'' ;
    display: block;
    width: 100%;
    background-color: $color-white;
    margin: 0.6rem 0rem;
    transition: 0.4s;
    height: 0.6rem;
} 
.hamburger.is-active::after{
    transform:rotate(47deg) translate(-0.9rem, -0.8rem)
}
.hamburger.is-active::before{
    transform:rotate(-47deg) translate(-0.8rem, 0.6rem)
}

.hamburger.is-active .bar{
    opacity:0 
}


.mobile-nav.is-active{
    left: 0;

}

.mobile-nav{
    font-size: 3rem;
    position: fixed;
    left: 100%;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    display: none;
    background-color: $color-brilliant-rose;
    transition: 0.4s;

 

    a{
        display: block;
        width: 100%;
        max-width: 20rem;
        margin: 0 auto 1.6rem;
        text-align: center;
        padding: 1rem 3rem;
        background-color: $color-indigo;
        color: #FFF;
        text-decoration: none; 
    }

    @include media('<=phone') {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

}

.mobile-nav ul{

}
// .mobile-nav{
//     // @extend %cover;
//     font-size: 4rem;
//     color: blue;
//     border: 1px solid yellow;
//     width: 100%;
//     display: none;
//     position: fixed;
//     transition: 0.4s;
// }

// .show{
//     display: block;
// }

// .hamburger .bar, .hamburger::after, .hamburger::before{
//     content:'' ;
//     display: block;
//     width: 6rem;
//     // height: 0.5rem;
//     background-color: yellow;
//     margin: 0.6rem 0rem;
//     transition: 0.4s;
//     border:1px solid black;
//     height: 0.5rem;
// } 
// .hamburger.is-active::before{
//     transform:rotate(-45deg) translate(-0.8rem, 0.6rem)
// }
// .hamburger.is-active::after{
//     transform:rotate(45deg) translate(-0.9rem, -0.8rem)
// }
// .hamburger.is-active .bar{
//     opacity:0 
// }