.services{
    // @extend %section-width;
    
    width: min(144rem, 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6.4rem 0px;
 

    @include media('<=tablet') {
        flex-direction: column;
        justify-content: center;
        padding: 6.4rem 0px;
        gap: 6.4rem;
    }
    @include media('<=tablet') {
        display: none;
     }
}

.services-tab{
    @extend %section-width;
  
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6.4rem 0px;
    
    

    @include media('<=tablet') {
        flex-direction: column;
        justify-content: center;
        padding: 6.4rem 0px;
        gap: 6.4rem;
    }

    @include media('>tablet') {
        display: none;
      }
    
}
.swiper-container {
    width: 90rem;
    height: 44.3rem;
     overflow: hidden;
    position:relative;
  
    
 
}
.swiper-container .swiper-wrapper{
    gap: 2.1rem;
    position: absolute;
    right: 18rem;
}
.swiper-container .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.4rem !important;
    gap: 6.4rem !important;

    width: 35rem !important;
    height: 44.3rem !important;
    background: $color-white;
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 3.2rem;

    @include media('<=smallphone') {
        
        width: 95%;
       
     }
}


.services__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    width: 40rem;
    font-weight: 700;
   
    
    flex-shrink: 0;
    &-title{
     
        font-size: 4rem;
        line-height: 2.7rem;
        color:$color-brilliant-rose;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        
       
     
    }

    &-paragraph{
        font-size: 4.4rem;
        color:$color-steel-gray;
      
      
        @include media('<=tablet') {
           font-size: 4rem;
        }
        @include media('<=phone') {
            text-align: center;
            width: 45rem;
         }
    }

    @include media('<=tablet') {
      width:100%;
      align-items: center;
    }

    
}

.services__card{
    display: flex;
    align-items: flex-start;
    gap: 2.1rem;
    width: 110rem;
    font-family: 'Circular Std';
    
    flex-shrink: 0;

    @include media('<=phone') {
        flex-direction: column;
        width: 100%;
        align-items: center;
     }

}

.services__card-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.4rem;
    gap: 6.4rem;
   
    width: 35rem;
    height: 44.3rem;
    background: $color-white;
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 3.2rem;

    @include media('<=smallphone') {
        
        width: 95%;
       
     }

   
}

.services__card-information-fig{
    width: 6.4rem;
    height: 6.4rem;
    position: relative;
    margin: auto;
    &-image{
        @extend %cover;
        object-fit: cover;
       
    }
}

.services__card-information-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    width: 22.2rem;
    height: 15.3rem;
}
.services__card-information-title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-align: center;
    color:$color-steel-gray;
}

.services__card-information-paragraph{
    width: 19.2rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-align: center;
    color: rgba(25, 24, 37, 0.5);
}