.testimonials{

//  @extend %section-width;
    
    font-size: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.testimonials .swiper{
    @extend %section-width;
    display: flex !important;
    justify-content: center;
    height: 74.5rem;
   
    @include media('<=phone') {
        margin: 0 3rem;
    };
}



// .testimonials .swiper .swiper-slide{
//     position: relative;
  
    
// }

.swiper__slide-content{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.6rem;
    justify-content: space-around;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 87.2rem;
}

.swiper-button-next, .swiper-button-prev{
     color: $color-brilliant-rose;

    @include media('<=phone') {
        display: none;
    }
}






.testimonials__wrapper{
    display: flex;
    align-items: center;
    gap: 5.6rem;


    @include media('<=phone') {
        flex-wrap: wrap ;
        justify-content: space-between;
        padding: 3.2rem 0px;
        gap: 6.4rem;
    }
}

.testimonials__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.6rem;
    width: 87.2rem;


    
    @include media('<=phone') {
       flex-basis: 100%;
    }
}



.testimonials__description-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}
.testimonials__description-header{
    font-weight: 700;
    font-size: 2.3rem;
    line-height:2.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $color-brilliant-rose;

}

.testimonials__description-paragraph{
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.3rem;
    text-align: center;
    color: $color-steel-gray
}

.testimonials__description-figure{
    width: 12.8rem;
    height: 12.8rem;
   
    position: relative;
    background: url(../assets/testimonial-image.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.testimonials__description-text p{
    font-weight: 450;
    max-width: 90rem;
    font-size: 2.3rem;
    line-height: 3.7rem;
    text-align: center;
    color: $color-steel-gray;
    
}
.testimonials__description-nameRating{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 2rem;
    
    & h6{
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.4rem;
        text-align: center;

        /* Orange */

        color: $color-orange;

    }
}

.testimonials__description-rating{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
    width: 22.4rem;
    height: 3.2rem;
}

.testimonials__description-star{
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
   
    &-image{
        @extend %cover;
        object-fit: cover;
    }
}

.testimonials__description-carouselSymbol{
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
    width: 12rem;
    height: 2.4rem;
}

.ellipse{
    width: 2.4rem;
    height: 2.4rem;
    background: rgba(25, 24, 37, 0.05);
    border-radius: 10rem;

    &.active{
        background: $color-brilliant-rose;
    }
    
}

