%cover {
     height: 100%;
    left: 0;
    position: absolute;
    top: 0;
     width: 100%;
  }

  %section-width {
    width: min(118.4rem, 100%);
    margin: auto;
    background: repeating-linear-gradient(90deg,  rgba(255, 0, 0, 0.10) 0 9rem, white 9rem 12rem );

   @include media('>phone' ,'<=tablet') {
     background: linear-gradient(10deg, #FFF,  rgba(255, 0, 0, 0.10));  
  }
 }