$color-ebony-clay: #222831;
$color-indigo: #5D50C6;
$color-brilliant-rose: #F85E9F;
$color-white: #FFFFFF;
$color-steel-gray:#191825;
$color-gallery: #EEEEEE;
$color-bright-gray:#393E46;
$color-orange:#FF5722;
$color-bright-sun:#FACD49