<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <nav class="navigation">
        <div class="logo__wrapper">
            <figure class="logo__media">
                <img src="./logo.svg" class="logo__media-image"/>
  
            </figure>
            <div class="logo__text">
                <h1>Travlog</h1>
            </div>
        </div>
        <ul class="navigation__list">
           <li class="navigation__list-item"><a href="#"  class="navigation__list-lin">Home</a></li>
           <li class="navigation__list-item"><a href="#"  class="navigation__list-link">Discover</a></li>
           <li class="navigation__list-item"><a href="#"  class="navigation__list-link">Special Deals</a></li>
           <li class="navigation__list-item"><a href="#"  class="navigation__list-link">Contact</a></li>
        </ul>
  
        <div class="authentication">
          <a href="#"  class="login">Log In</a>
          <button class="signup">
              Sign Up
          </button>
        </div>
      </nav>
      <main>
         <section class="header">
            <div class="header__description">
                <button class="header__description-exploreBox">
                    <h5 class="header__description-text">
                      Explore the world
                    </h5>
                    <figure class="header__description-media">
                      <img src="./caseimg.svg" class="header__description-media-image"/>
                    </figure>
                </button>
                
                <div class="header__description-textbox">
                  <h1 class="header__description-title"> Travel <span>top destination</span> of the world</h1>
                  <h4 class="header__description-subtitle">We always make our customer happy by providing as many choices as possible </h4>
  
                </div>
                
                <div class="header__description-startedWatchDemo">
                    <button class="header__description-getstarted">
                      Get started
                    </button>
                    <div class="header__description-playCircleWatchDemo">
                      <figure class="header__description-playCircle">
                        <img src='<%= require("./assets/play.svg") %>' class="header__description-playCircle-image"/>
                      </figure>
                      <a href="#"  class="header__description-watchdemo">Watch Demo</a>
                    </div> 
                </div>
            </div>
            <div class="header__wrapper-images">
                <div class="header__gallery">
                  <div class="header__gallery-left">
                    <figure class="header__gallery-one">
                      <img src='<%= require("./assets/Rectangle 1.png") %>' class="header__gallery-one-image" />
                     
                      <div class="header__send">
                        <img  src='<%= require("./assets/Vector.png") %>' class="header__send-image"/>
                      </div>
                    </figure>
        
                    <figure class="header__gallery-two">
                      <img  src='<%= require("./assets/Rectangle 2.png") %>' class="header__gallery-two-image"/>
                    </figure>
                 
                  </div>
                  <div class="header__gallery-right">
                    <figure class="header__gallery-three">
                      <img src='<%= require("./assets/Rectangle 3.png") %>' class="header__gallery-three-image"/>
  
                      <div class="header__topPlaces">
                          <figure class="header__topPlaces-imageWrapper">
                            <img src='<%= require("./assets/location.svg") %>' class="header__topPlaces-imageWrapper-image"/>
                          </figure> 
                          <div class="header__topPlaces-text">
                            <p>Top places</p>
                          </div>
                      </div>
                    </figure>
                  </div>
                  <figure class="header__gallery-bottom">
                    <img src='<%= require("./assets/adduser.svg") %>' class="header__gallery-bottom-image"/>
                  </figure>
                </div>
            </div>
            <figure class="header__arrow">
              <img src='<%= require("./assets/arrow.svg") %>' class="header__arrow-image"/>
            </figure>
        </section>
        
        <section class="brands-container">
          <div class="brands">
            <div class="brand trip-advisor">
              <figure class="brand-fig">
                <img src='<%= require("./assets/tripadvisor.svg") %>' class="brand-fig-image"/>
              </figure>
            </div>
            <div class="brand expedia">
              <figure class="brand-fig">
                <img src='<%= require("./assets/expedia.svg") %>' class="brand-fig-image"/>
              </figure>
          </div>
            <div class="brand booking"> 
              <figure class="brand-fig">
                <img src='<%= require("./assets/booking.svg") %>' class="brand-fig-image"/>
              </figure>
           </div>
            <div class="brand airbnb">
              <figure class="airbnb-fig">
                <img src='<%= require("./assets/airbnb.svg") %>' class="airbnb-fig-image"/>
              </figure>
            </div>
            <div class="brand orbit">
              <figure class="orbit-fig">
                <img src='<%= require("./assets/orbitz.svg") %>' class="orbit-fig-image"/>
              </figure>
            </div>
          </div>    
        </section> 
  
        <section class="services">
              <div class="services__content">
                  <h5 class="services__content-title">SERVICES</h5>
                  <p class="services__content-paragraph">Our top value categories for you</p>
              </div>
              <div class="services__card">
                <div class="services__card-information">
                  <figure class="services__card-information-fig">
                    <img src='<%= require("./assets/destination.svg") %>' class="services__card-information-fig-image"/>
                  </figure>
                  <div class="services__card-information-details">
                      <h5 class="services__card-information-title">Best Tour Guide</h5>
                      <p class="services__card-information-paragraph">What looked like a small patch of purple grass, above five feet.</p>
                  </div>
                </div>
  
                <div class="services__card-information">
                  <figure class="services__card-information-fig">
                    <img src='<%= require("./assets/booking-1.svg") %>' class="services__card-information-fig-image"/>
                  </figure>
                  <div class="services__card-information-details">
                      <h5 class="services__card-information-title">Easy Booking</h5>
                      <p class="services__card-information-paragraph">Square, was moving across the sand in their direction.</p>
                  </div>
                </div>
  
                <div class="services__card-information">
                  <figure class="services__card-information-fig">
                    <img src='<%= require("./assets/cloud.svg") %>' class="services__card-information-fig-image"/>
                  </figure>
                  <div class="services__card-information-details">
                      <h5 class="services__card-information-title">Weather Forecast</h5>
                      <p class="services__card-information-paragraph">What looked like a small patch of purple grass, above five feet.</p>
                  </div>
                </div>
              </div>
        </section>
  
        <section class="destination">
              <div class="destination__descriptionArrow">
                  <div class="destination__description">
                      <h2 class="destination__description-title">TOP DESTINATION</h2>
                      <h3 class="destination__description-subtitle">Explore top destination</h3>
                  </div>
                  <div class="destination__arrow">
                    <div class="destination__arrow-arrow1">
                      <figure class="destination__arrow1">
                        <img src='<%= require("./assets/arrow-1.svg") %>' class="destination__arrow1-image"/>
                      </figure>
          
                    </div>
                    <div class="destination__arrow-arrow2">
                      <figure class="destination__arrow2">
                        <img src='<%= require("./assets/arrow-2.svg") %>' class="destination__arrow2-image"/>
                      </figure>
                    </div>
                  </div>
              </div>
              <div class="destination__wrapper-images">
                  <div class="destination__content">
                    <figure class="destination__fig one">
                
                    </figure>
                    <div class="destination__details">
                        <div class="destination__details-description">
                              <div class="destination-titlePrice">
                                <h6 class="destination-title">Paradise Beach, Bantayan Island</h6>
                                <h3 class="destination-price">$550.16</h3>
                              </div>
                              <div class="destination__details-location">
                                 <p>Rome, Italy</p>
                              </div>
                        </div>
                        <div class="destination__details-ratings">
                          <p class="destination__details-ratings-text">4.8</p>
                          <figure  class="destination__details-ratings-star">
                            <img src='<%= require("./assets/star.svg") %>' class="destination__details-ratings-star-image"/>
                          </figure>
                        </div>
                    </div>
                  </div>
                  <div class="destination__content">
                    <figure class="destination__fig two">
                
                    </figure>
                    <div class="destination__details">
                      <div class="destination__details-description">
                            <div class="destination-titlePrice">
                              <h6 class="destination-title">Ocean with full of Colors</h6>
                              <h3 class="destination-price">$20.99</h3>
                            </div>
                            <div class="destination__details-location">
                               <p>Maldives</p>
                            </div>
                      </div>
                      <div class="destination__details-ratings">
                        <p class="destination__details-ratings-text">4.5</p>
                        <figure  class="destination__details-ratings-star">
                          <img src='<%= require("./assets/star.svg") %>' class="destination__details-ratings-star-image"/>
                        </figure>
                      </div>
                  </div>
                  </div>
                  <div class="destination__content">
                    <figure class="destination__fig three">
                
                    </figure>
                    <div class="destination__details">
                      <div class="destination__details-description">
                            <div class="destination-titlePrice">
                              <h6 class="destination-title">Mountain View, Above the cloud</h6>
                              <h3 class="destination-price">$550.16</h3>
                            </div>
                            <div class="destination__details-location">
                               <p>United Arab Emirates</p>
                            </div>
                      </div>
                      <div class="destination__details-ratings">
                        <p class="destination__details-ratings-text">5.0</p>
                        <figure  class="destination__details-ratings-star">
                          <img src='<%= require("./assets/star.svg") %>' class="destination__details-ratings-star-image"/>
                        </figure>
                      </div>
                  </div>
                  </div>
              </div>
        </section>
  
        <section class="travelPoint">
          <figure  class="travelpoint__fig-one">
            
          </figure>
          <div class="travelPoint__information">
              <div class="travelPoint__description">
                  <div class="travelPoint__description-wrapper">
                      <h3 class="travelPoint-heading">Travel Point</h3>
                      <h3 class="travelPoint-subheading">We helping you find your dream location</h3>
                  </div>
                  <p class="travelPoint-paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text.
                     It has roots in a piece of classical Latin literature from 45 BC.</p>
              </div>
              <div class="travelPoint__numbers">
                  <div class="travelPoint__numbers-one">
                      <div class="travelPoint__box">
                            <h4 class="travelPoint__figure">500+</h4>
                            <p class="travelPoint__text">Holiday Package</p>
                      </div>
                      <div class="travelPoint__box">
                          <h4 class="travelPoint__figure">100</h4>
                          <p class="travelPoint__text">Luxury Hotel</p>
                      </div>
                  </div>
                  <div class="travelPoint__numbers-two">
                    <div class="travelPoint__box">
                      <h4 class="travelPoint__figure">7</h4>
                      <p class="travelPoint__text">Premium Airlines</p>
                    </div>
                    <div class="travelPoint__box">
                        <h4 class="travelPoint__figure">2k+</h4>
                        <p class="travelPoint__text">Happy Customer</p>
                    </div>
                  </div>
              </div>
          </div>
          <figure  class="travelpoint__fig-two">
            
          </figure>
        </section>

        <section class="features">
              <div class="features__description">
                  <div class="key__features-header">
                      <div class="key__features-title">
                          <h3 class="key__features-title-main">KEY FEATURES</h3>
                          <h6 class="key__features-title-sub">We offer best services</h6>
                      </div>
                      <p class="key__features-subtitle">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a 
                        piece of classical Latin literature from 45 BC.</p>
                  </div>
                  <div class="key__features-paragraph">
                        <div class="feature__paragraph">

                        </div>
                        <div class="feature__paragraph">

                        </div>
                        <div class="feature__paragraph">

                        </div>
                  </div>
              </div>
        </section>
      </main>
    </div>
  </body>
</html>