*,
*:after,
*:before{
  box-sizing: border-box;
}

$breakpoints: (
  'smallphone': 600px,
  'phone': 768px,
  'tablet': 1024px,
  'desktop': 1920px,
) !default;

@import '../../../node_modules/include-media/dist/include-media';

html {
  //@extend %cover;
  font-size: calc(100vw / 1920 * 10);

  line-height: 1;
  // overflow: hidden;
  // position: fixed;

  scroll-behavior: smooth;

  @include media('<=phone') {
     font-size: calc(100vw / 750 * 10); 
  }
}

body{
  //@extend %cover;
  // background-color: red;
}

.overflow-hidden{
    overflow: hidden;
}

a{
  text-decoration: none;
  outline: none;
  color: inherit;
}
button{
  background: none;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}



.container{
  border: 1px solid black;
  width: min(144rem, 100%);
  margin: auto;
  overflow: hidden;
  position: relative;
//   background: repeating-linear-gradient(90deg,  rgba(255, 0, 0, 0.10) 0 9rem, white 9rem 12rem );

//   @include media('>phone' ,'<=tablet') {
//     background: linear-gradient(10deg, #FFF,  rgba(255, 0, 0, 0.10));  
//  }
}

