*,
*:after,
*:before{
  box-sizing: border-box;
}

$breakpoints: (
  'smallphone': 600px,
  'phone': 768px,
  'tablet': 1024px,
  'desktop': 1920px,
) !default;

@import '../../../node_modules/include-media/dist/include-media';

html {
  //@extend %cover;
  font-size: calc(100vw / 1920 * 10);
  
  line-height: 1;
  // overflow: hidden;
  // position: fixed;

  scroll-behavior: smooth;

  @include media('<=phone') {
     font-size: calc(100vw / 750 * 10); 
  }
}

body{
  //@extend %cover;
  // background-color: red;
  // font-family: 'Circular Std';
  background: repeating-linear-gradient(90deg,  rgba(255, 0, 0, 0.10) 0 9rem, white 9rem 12rem );
  @include media('>phone' ,'<=tablet') {
    background: linear-gradient(10deg, #FFF,  rgba(255, 0, 0, 0.10));  
 }
}

.overflow-hidden{
    overflow: hidden;
}

a{
  text-decoration: none;
  outline: none;
  color: inherit;
}
button{
  background: none;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}



.container{
  
  width: min(144rem, 100%);
  margin: auto;
  overflow: hidden;
  position: relative;
 
}

.fade-in{
  opacity:0;
  transition: opacity 1s ease-in;
}

.fade-in.appear{
  opacity:1;
}

.from-left{
  transform: translateX(-50%);
  transition: opacity 100ms ease-in, transform 0.4s ease-in; 
  opacity: 0;
}

.from-left.appear{
  transform: translateX(0);
  opacity: 1;
}

.from-right{
  transform: translateX(50%);
  transition: opacity 100ms ease-in, transform 0.4s ease-in; 
  opacity: 0;
}

.from-right.appear{
  transform: translateX(0);
  opacity: 1;
}

.move-down{
  transform: translateY(-5rem);
  transition: transform 200ms ease-in-out;; 
  opacity: 0;
}

.move-down.appear{
  transform: translateY(0);
  opacity: 1;
}

.zoom{
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in;
 
}

.zoom.appear{
  transform: scale(1);
  opacity: 1;
}