*,
*:after,
*:before{
  box-sizing: border-box;
}

$breakpoints: (
  'smallphone': 600px,
  'phone': 768px,
  'tablet': 1024px,
  'desktop': 1920px,
) !default;

@import '../../../node_modules/include-media/dist/include-media';

html {
  //@extend %cover;
   font-size: calc(100vw / 1920 * 10);
   line-height: 1;
  //  overflow: hidden;
  // position: fixed;


  @include media('<phone') {
     font-size: calc(100vw / 750 * 10); 
  }
}

body{
  //@extend %cover;
  // background-color: red;
}


a{
  text-decoration: none;
  outline: none;
  color: inherit;
}
button{
  background: none;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

// .container{
//   border: 1px solid green;
//   margin: auto;
//   position: relative;
//   // height: 100%;

//   @include media('<=tablet') {
//     width: 100%;
//    }
   
//    @include media('<=smallphone') {
//     background-color: red;
//    }
   
// }
