// @font-face {
//    font-family: 'Circular Std';
//   src: url('../../fonts/circular-std-font-family/CircularStd-Black.woff2') format('woff2'),
//       url('../../fonts/circular-std-font-family/CircularStd-Black.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Circular Std';
  src: url('../assets/fonts/circular-std-font-family/CircularStd-Black.woff2') format('woff2'), url('../assets/fonts/circular-std-font-family/CircularStd-Black.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}